.vscode/

academix_frontend/node_modules/
academix_frontend/dist/
academix_frontend/.env
academix_frontend/.vite

venv/
*.sqlite3
*.pyc
__pycache__/    
*.log
*.pyo
db.sqlite3
.env


**migrations/
!*/migrations/__init__.py